#
# pin constraints
#
NET fpga_0_axi_gpio_2_GPIO_IO_pin[0] LOC = "K21"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_gpio_2_GPIO_IO_pin[1] LOC = "G23"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_gpio_2_GPIO_IO_pin[2] LOC = "G24"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_gpio_2_GPIO_IO_pin[3] LOC = "J20"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_gpio_2_GPIO_IO_pin[4] LOC = "J22"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_gpio_2_GPIO_IO_pin[5] LOC = "E24"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_gpio_2_GPIO_IO_pin[6] LOC = "E23"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_gpio_2_GPIO_IO_pin[7] LOC = "K22"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_ether_0_PHY_col LOC = "R9"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_ether_0_PHY_crs LOC = "R3"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_ether_0_PHY_MDC LOC = "N5"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_ether_0_PHY_MDIO LOC = "N4"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_ether_0_PHY_rst_n LOC = "P8"  |  IOSTANDARD = "LVCMOS33"  |  TIG;
NET fpga_0_axi_ether_0_PHY_rx_data[0] LOC = "T9"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_ether_0_PHY_rx_data[1] LOC = "P3"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_ether_0_PHY_rx_data[2] LOC = "P1"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_ether_0_PHY_rx_data[3] LOC = "N6"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_ether_0_PHY_rx_clk LOC = "V4"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_ether_0_PHY_dv LOC = "N7"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_ether_0_PHY_rx_er LOC = "R4"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_ether_0_PHY_tx_data[0] LOC = "T4"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_ether_0_PHY_tx_data[1] LOC = "R10"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_ether_0_PHY_tx_data[2] LOC = "U2"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_ether_0_PHY_tx_data[3] LOC = "U1"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_ether_0_PHY_tx_clk LOC = "R7"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_ether_0_PHY_tx_en LOC = "V1"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_gpio_3_GPIO_IO_pin[0] LOC = "M18"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_gpio_3_GPIO_IO_pin[1] LOC = "L19"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_gpio_3_GPIO_IO_pin[2] LOC = "M21"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_gpio_3_GPIO_IO_pin[3] LOC = "F22"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_gpio_3_GPIO_IO_pin[4] LOC = "H22"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_gpio_3_GPIO_IO_pin[5] LOC = "C25"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_gpio_3_GPIO_IO_pin[6] LOC = "C26"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_gpio_3_GPIO_IO_pin[7] LOC = "F23"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_emc_0_Mem_A_pin[0] LOC = "L24"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_A_pin[10] LOC = "R19"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_A_pin[11] LOC = "P21"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_A_pin[12] LOC = "P22"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_A_pin[13] LOC = "R20"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_A_pin[14] LOC = "R21"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_A_pin[15] LOC = "P24"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_A_pin[16] LOC = "P26"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_A_pin[17] LOC = "R23"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_A_pin[18] LOC = "R24"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_A_pin[19] LOC = "T24"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_A_pin[1] LOC = "N19"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_A_pin[20] LOC = "T26"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_A_pin[21] LOC = "V24"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_A_pin[22] LOC = "V26"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_A_pin[23] LOC = "N17"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_A_pin[2] LOC = "N20"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_A_pin[3] LOC = "N21"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_A_pin[4] LOC = "N22"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_A_pin[5] LOC = "P17"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_A_pin[6] LOC = "P19"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_A_pin[7] LOC = "N23"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_A_pin[8] LOC = "N24"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_A_pin[9] LOC = "R18"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_CEN_pin LOC = "AB9"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_DQ_pin[0] LOC = "W25"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_DQ_pin[10] LOC = "W8"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_DQ_pin[11] LOC = "AF6"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_DQ_pin[12] LOC = "AD6"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_DQ_pin[13] LOC = "W19"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_DQ_pin[14] LOC = "V18"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_DQ_pin[15] LOC = "AD23"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_DQ_pin[1] LOC = "AB14"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_DQ_pin[2] LOC = "AF22"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_DQ_pin[3] LOC = "Y20"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_DQ_pin[4] LOC = "AD5"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_DQ_pin[5] LOC = "N18"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_DQ_pin[6] LOC = "AA11"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_DQ_pin[7] LOC = "AF3"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_DQ_pin[8] LOC = "AA10"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_DQ_pin[9] LOC = "W7"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_OEN_pin LOC = "W26"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_RPN_pin LOC = "AA9"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_emc_0_Mem_WEN_pin LOC = "AA25"  |  IOSTANDARD = "LVCMOS25";
NET fpga_0_axi_gpio_1_GPIO_IO_pin[0] LOC = "L20"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_gpio_1_GPIO_IO_pin[1] LOC = "L21"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_gpio_1_GPIO_IO_pin[2] LOC = "H20"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_uart_0_RX_pin LOC = "AC2"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_uart_0_TX_pin LOC = "AC1"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_uart_1_RX_pin LOC = "AE2"  |  IOSTANDARD = "LVCMOS33";
NET fpga_0_axi_uart_1_TX_pin LOC = "AE1"  |  IOSTANDARD = "LVCMOS33";
Net fpga_0_RTC_Rst_pin LOC = E25 | IOSTANDARD = LVCMOS33;
Net fpga_0_RTC_Int_pin LOC = J24 | IOSTANDARD = LVCMOS33;
Net fpga_0_axi_iic_0_Scl_pin LOC = M10 | IOSTANDARD = LVCMOS33;
Net fpga_0_axi_iic_0_Sda_pin LOC = N9 | IOSTANDARD = LVCMOS33;
NET fpga_0_rst_1_sys_rst_pin LOC = "M19"  |  IOSTANDARD = "LVCMOS33"  |  TIG;
NET fpga_0_clk_1_sys_clk_pin LOC = "U23"  |  IOSTANDARD = "LVCMOS25";
#
# additional constraints
#

NET "fpga_0_clk_1_sys_clk_pin" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;
############################################################################
# VCC AUX VOLTAGE 
############################################################################
CONFIG VCCAUX=2.5; # Valid values are 2.5 and 3.3

############################################################################
# Extended MCB performance mode requires a different Vccint specification to
# achieve higher maximum frequencies for DDR2 and DDR3.Consult the Spartan-6
#datasheet (DS162) table 2 and 24 for more information 
############################################################################
CONFIG MCB_PERFORMANCE= STANDARD;


##################################################################################
# Timing Ignore constraints for paths crossing the clock domain 
##################################################################################
NET "*/mcb_raw_wrapper_inst/selfrefresh_mcb_mode"  TIG;
     

############################################################################
## Memory Controller 3                               
## Memory Device: DDR3_SDRAM->MT41J64M16XX-187E 
## Frequency: 333.333 MHz
## Time Period: 3000 ps
## Supported Part Numbers: MT41J64M16LA-187E
############################################################################

############################################################################
## Clock constraints                                                        
############################################################################
############################################################################

############################################################################
## I/O TERMINATION                                                          
############################################################################
NET "fpga_0_axi_s6_ddrx_0_mcbx_dram_dq_pin[*]" IN_TERM = NONE;
NET "fpga_0_axi_s6_ddrx_0_mcbx_dram_dqs_pin" IN_TERM = NONE;
NET "fpga_0_axi_s6_ddrx_0_mcbx_dram_dqs_n_pin" IN_TERM = NONE;
NET "fpga_0_axi_s6_ddrx_0_mcbx_dram_udqs_pin" IN_TERM = NONE;
NET "fpga_0_axi_s6_ddrx_0_mcbx_dram_udqs_n_pin" IN_TERM = NONE;

############################################################################
# I/O STANDARDS 
############################################################################

NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_dq_pin[*]" IOSTANDARD = SSTL15_II;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_addr_pin[*]" IOSTANDARD = SSTL15_II;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_ba_pin[*]" IOSTANDARD = SSTL15_II;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_dqs_pin" IOSTANDARD = DIFF_SSTL15_II;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_udqs_pin" IOSTANDARD = DIFF_SSTL15_II;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_dqs_n_pin" IOSTANDARD = DIFF_SSTL15_II;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_udqs_n_pin" IOSTANDARD = DIFF_SSTL15_II;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_clk_pin" IOSTANDARD = DIFF_SSTL15_II;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_clk_n_pin" IOSTANDARD = DIFF_SSTL15_II;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_cke_pin" IOSTANDARD = SSTL15_II;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_ras_n_pin" IOSTANDARD = SSTL15_II;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_cas_n_pin" IOSTANDARD = SSTL15_II;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_we_n_pin" IOSTANDARD = SSTL15_II;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_odt_pin" IOSTANDARD = SSTL15_II;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_ddr3_rst_pin" IOSTANDARD = SSTL15_II;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_ldm_pin" IOSTANDARD = SSTL15_II;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_udm_pin" IOSTANDARD = SSTL15_II;
NET  "fpga_0_axi_s6_ddrx_0_rzq_pin" IOSTANDARD = SSTL15_II;
NET  "fpga_0_axi_s6_ddrx_0_zio_pin" IOSTANDARD = SSTL15_II;
############################################################################
# MCB 3
# Pin Location Constraints for Clock, Masks, Address, and Controls
############################################################################

NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_addr_pin[0]" LOC = "L7" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_addr_pin[10]" LOC = "J9" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_addr_pin[11]" LOC = "E3" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_addr_pin[12]" LOC = "K8" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_addr_pin[1]" LOC = "L6" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_addr_pin[2]" LOC = "K10" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_addr_pin[3]" LOC = "M8" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_addr_pin[4]" LOC = "J7" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_addr_pin[5]" LOC = "L4" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_addr_pin[6]" LOC = "L3" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_addr_pin[7]" LOC = "L10" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_addr_pin[8]" LOC = "C2" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_addr_pin[9]" LOC = "C1" ;

NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_ba_pin[0]" LOC = "B2" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_ba_pin[1]" LOC = "B1" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_ba_pin[2]" LOC = "G3" ;

NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_cas_n_pin" LOC = "L8" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_clk_pin" LOC = "K5" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_clk_n_pin" LOC = "J5" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_cke_pin" LOC = "K9" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_ldm_pin" LOC = "J3" ;

NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_dq_pin[0]" LOC = "H3" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_dq_pin[10]" LOC = "K3" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_dq_pin[11]" LOC = "K1" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_dq_pin[12]" LOC = "M3" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_dq_pin[13]" LOC = "M1" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_dq_pin[14]" LOC = "N2" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_dq_pin[15]" LOC = "N1" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_dq_pin[1]" LOC = "H1" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_dq_pin[2]" LOC = "G2" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_dq_pin[3]" LOC = "G1" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_dq_pin[4]" LOC = "D3" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_dq_pin[5]" LOC = "D1" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_dq_pin[6]" LOC = "E2" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_dq_pin[7]" LOC = "E1" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_dq_pin[8]" LOC = "J2" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_dq_pin[9]" LOC = "J1" ;

NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_dqs_pin" LOC = "F3" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_dqs_n_pin" LOC = "F1" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_odt_pin" LOC = "M6" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_ras_n_pin" LOC = "L9" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_ddr3_rst_pin" LOC = "E4" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_udm_pin" LOC = "J4" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_udqs_pin" LOC = "L2" ;
NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_udqs_n_pin" LOC = "L1" ;

NET  "fpga_0_axi_s6_ddrx_0_mcbx_dram_we_n_pin" LOC = "G4" ;

##################################################################################
#RZQ is required for all MCB designs.   Do not move the location #
#of this pin for ES devices.For production devices, RZQ can be moved to any #
#valid package pin within the MCB bank.For designs using Calibrated Input Termination, #
#a 2R resistor should be connected between RZQand ground, where R is the desired#
#input termination value.  Otherwise, RZQ should be left as a no-connect (NC) pin.#
##################################################################################
NET  "fpga_0_axi_s6_ddrx_0_rzq_pin" LOC = "M4" ;
##################################################################################
#ZIO is only required for MCB designs using Calibrated Input Termination.#
#ZIO can be moved to any valid package pin (i.e. bonded IO) within the#
#MCB bank but must be left as a no-connect (NC) pin.#
##################################################################################
NET  "fpga_0_axi_s6_ddrx_0_zio_pin" LOC = "H6" ;


#########################################################################
# TIG synchronizer signals                                              #
#########################################################################
### have to comment out, otherwise fail ngdbuild   INST "MCB_DDR3/mcb_ui_top_0/P?_UI_AXI.axi_mcb_synch/synch_d1*" TNM="TNM_MCB_DDR3_SYNCH";
TIMESPEC "TS_MCB_DDR3_SYNCH" = FROM FFS TO "TNM_MCB_DDR3_SYNCH" TIG;

#########################################################################
# Config for Extended Performance                                       #
#########################################################################
CONFIG MCB_PERFORMANCE=STANDARD;

