# Template .gitignore file for project
XpsGuiSessionLock
ppc405_?
microblaze_?
implementation
synthesis
hdl
CF
report
blkdiagram
fs-boot
xl-boot
__xps
platgen.opt
*.log
*.svf
*.scr
*.cmd
*.bak
*~
*.elf
*.ace
*.make
